#nav-stlr{
  margin: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  height: 25px;
  font-size: 12px;
  width:100%;
  background-color: black;
  margin-left: 100px;
}
#nav-stlr a{
color: gray;
text-decoration: none;
}


.shopcart-stl{
  display: inline-block;
  /* margin-top: 15px; */
}

#nav-st{
  display: inline-block;
  width: 100x;
  height: 10px;
}

